.landing-page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "logo"
        "path-div"
        "social-links";
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10% ;
    // overflow: hidden;


    .logo {
        position: relative;
        top: 20%;
        left: 7%;
        font-size: 1.5em;
        grid-area: logo;
        font-family: 'Simonetta', cursive;
        color: #6A4CAD;
    }

    .path-div {
        grid-area: path-div;
        background-repeat: no-repeat;
        background-position: right;
        background-size: 130% ;

        .outer-circle {
            position: relative;
            width:120%;
            height: 90%;
            background-repeat: no-repeat;
            background-position: 231%;
            background-size: 110%;
            z-index: 1;

            .inner-circle {
                position: relative;
                top: 15%;
                width: 85%;
                height: 80%;
                background-repeat: no-repeat;
                background-position: 360%;
                background-size: 106%;
                z-index: 2;
            }
        }
        
    }

    .phrase {
        position: relative;
        text-align: center;
        top: 11vh;
        color: #6A4CAD;
        margin: 0 auto;

        .large-phrase {
            font-size: 1.8em;
            font-family: 'Simonetta', cursive;
        }
        .small-phrase {
            font-size: 0.8em;
        }
    }

    .action-btns {
        position: relative;
        top: 14vh;
        margin: 0 auto;
        width: 25vh;
        text-decoration: none;
        

        .register-btn {
            height: 6vh;
            line-height: 6vh;
            width: 100%;
            background: linear-gradient(to right, #2ECFF5 0%, #03EDC9 100%);
            color: #ffffff;
            text-align: center;
            border-radius: 40px;
            margin: 0 auto;
            cursor: pointer;
        }

        .login-btn {
                    height: 7vh;
                    line-height: 7vh;
                    width: 100%;
                    text-align: center;
                    margin: 0 auto;        
                    color: #6A4CAD;
                    cursor: pointer;
                }
    }

}

@media (min-width: 1040px){

    .landing-page {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-areas: 
            "logo path-div"
            ". path-div";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 90% ;
        overflow: hidden;

        .path-div {
            background-size: contain ;
            background-position: 0% 20%;

            .outer-circle {
                background-size: 65%;
                background-position: 70% 20%;

                .inner-circle{
                    background-position: 190% 5%;
                    background-size: 90% 60%;
                }
            }
        }

        .phrase{
            position: relative;
            grid-area: content;
            left: -90%;
            top: 25%;
            font-size: 1.5em;
            text-align: left;
        }

        .action-btns {
            top: 35%;
            left: -117%;
        }

    }

}

.auth-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0%;
    background-color: rgba(128, 128, 128, 0.9);
}








