    .landing-page {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-areas: 
            "logo path-div"
            "phrase path-div";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 90% ;

        .logo {
            position: relative;
            grid-area: logo;
            display: inline-block;
            font-family: 'Simonetta', cursive;
            color: #6A4CAD;
            font-size: 1.8em;
            left: 10%;
            top: 20%;
        }

        .path-div {
            grid-area: path-div;
            background-size: contain ;
            display: inline-block;
            background-size: 100%;
            background-position: 5.5vh 0%;
            background-repeat: no-repeat;
        }

        .content {
            position: relative;
            grid-area: phrase;

            .catch-phrase {
                position: relative;
                color: #6A4CAD;
                width: 67%;
                margin: 0 auto;
                top: 17vh;

                .large-phrase {
                    font-size: 3.7vw;
                    font-family: 'Passion One', cursive;
                    font-weight: bolder;
                }

                .small-phrase {
                    font-size: 1.3vw;
                    font-weight: 600;
                    margin-top: 2%;
                    font-style: oblique;
                }

                .action-btns {
                    margin-top: 12%;
                    padding-left: 5%;
                    padding-right: 5%;
                    font-weight: 600;
                    font-style: oblique;

                    .register-btn {
                        display: inline-block;
                        height: 6vh;
                        line-height: 6vh;
                        width: 35%;
                        // background: linear-gradient(to right, #2ECFF5 0%, #03EDC9 100%);
                        text-align: center;
                        margin: 0 auto;
                        cursor: pointer;
                        margin-right: 25%;
                        border: solid  rgb(157, 125, 226) 1.5px;
                    }

                    .login-btn {
                        position: relative;
                        display: inline-block;
                        height: 6vh;
                        line-height: 6vh;
                        text-align: center;
                        width: 35%;
                        border: solid  rgb(157, 125, 226) 1.5px;
                        cursor: pointer;
                    }

                }
            }
//             top: 31%;
//             font-size: 1.5em;
//             text-align: left;;

//             .small-phrase {
//                 font-style: oblique;
//                 margin-top: 0.5%;
//             }
//             .action-btns {
//                 width: 60%;
//                 top: 35%;
//                 font-size: 0.6em;
//                 display: flex;
//                 justify-content: space-between; 
//                 border: black 2px solid;
    
//                 .register-btn {
//                     display: inline-block;
//                     width: 40%;
//                 }
                // .login-btn {
                //     display: inline-block;
                //     width: 40%;
                //     border: solid  rgb(157, 125, 226) 1.5px;
                // }
//             }
//         }
//     }

    }

}

.auth-container-true {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0%;
    background-color: rgba(128, 128, 128, 0.95);

    .cancel-button {
        position: relative;
        display: inline-block;
        left: 95%;
        top: -74vh;
        font-size: 1.5em;
        cursor: pointer;
        color: #ffffff;
        z-index: 5;
    }
    .cancel-button:hover{
        color: rgb(202, 250, 241);
    }

}

.auth-container-false {
    visibility: hidden; 
    }







