.auth-modal {
    position: absolute;
    background-color: white;
    margin: 0 auto;
    z-index: 5;
    width: 70vw;
    height: 75%;
    left: 50vw;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -13%;
    border-radius: 3px;
    

    .auth-div{
        position: relative;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: 5;
        left: 50%;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        background: linear-gradient(to right bottom, rgba(0, 246, 209, 0.8) , rgba(43, 159, 236, 1), rgba(47,70,228,1), rgba(78,50,241,1));  
    }

    .register-div, .login-div {
        position: relative;
        top: 10%;
        .title {
            color: #ffffff;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        }
        .tagline {
            color: #ffffff;
            text-align: center;
            font-size: 15px;
            font-style: italic;
        }
        .input-container {
            text-align: center;
            margin-top: 6%;
        }
        input {
            width: 67%;
            background: none;
            margin: 0 auto;
            font-size: 15px;
            color: #ffffff;
            outline: none;
            border: none;
            border-bottom: 1px solid #ffffff;
            padding-left: 10px;
            font-size: 15px;
            padding-bottom: 5px;
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #ffffff;
            opacity: 0.6; /* Firefox */
        }

        i {
            color: #ffffff;
            font-size: 20px;
        }

        button {
            width: 67%;
            height: 50px;
            border-radius: 25px;
            outline: none;
            border: none;
            color: #ffffff;
            cursor: pointer;
            font-size: 15px;
            background: none;
            text-align: center;
        }
        .auth-button {
            background-image: linear-gradient(to right,  #57d8f7, #03EDC9);
        }
        .google-button {
            border: 1px solid #ffffff;
        }
        .horizontal-line-left {
            height: 1px;
            width: 45%;
            display: inline-block;
            vertical-align: middle;
            background-color: #E6E6E6;
            background: linear-gradient(90deg, rgba(43, 159, 236, 0.01) 5%, white);
        }
        .horizontal-line-right {
            height: 1px;
            width: 45%;
            display: inline-block;
            vertical-align: middle;
            background-color: #E6E6E6;
            background: linear-gradient(90deg,  white, rgba(43, 159, 236, 0.01) 95%);
        }
    }
    img {
        height: 20px;
        width: 20px;
        vertical-align: middle;
    }
}
